header, main, footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header{
    background-color: cornflowerblue;
    height: 10vh;
}

main{
    background-color: aqua;
    height: 90vh;
}

footer{
    background-color: cornflowerblue;
    height: 10vh;
}